*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body{
    width: 100vw;
}

header{
    background-color: #d1e9f6;
    height: 100vh;
    width: 100%;
}

/*--------------      Navbar      ------------------*/

#navbar{
    width: 100%;
    height: 100px;
}
#insideNav{
    width: 92%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

#logoImg{
    width: 25%;
    margin-bottom: 21px;
    transition: .3s ease-in-out;
}

#logoImg:active{
    transform: scale(1.1);
}
#logo{
    width: 80px;
    height: 40px;
    border-radius: 50px;
    background-color: teal;
    margin-bottom: 21px;
}
#navElements{
    height: 100%;
    display: flex;
    float: right;
    align-items: flex-end;
}
#listAndButton{
    display: flex;
    align-items: center;
}

#insideNav ul{
    list-style: none;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


#insideNav ul li{
    position: relative;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    height: 100%;
}

#navElements a{
    text-decoration: none;
    color: #4c4c57;
    margin-right: 65px;
    font-size: 16px;
    font-weight: 400;
    /*margin-bottom: 13px;*/
}

#navElements a:hover{
    color: #aec4cf;
}
#buttonlist a{
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: #1d8888;
    position: absolute;
}
#buttonlist {
    cursor: pointer;
    text-decoration: none;
    height: 50px;
    margin-bottom: 7px;
    width: 120px;
    height: 55px;
    background: transparent;
    border: 3px solid #1d8888;
    border-radius: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: .3s ease-in-out;
}
#circle1{
    position: relative;
    bottom: 20px;
    right:30px;
    background-color: #1d8888;
    width: 0px;
    height: 0px;
    border-radius: 100%;
    transition: .3s ease-in-out;
}
#buttonlist:hover > #circle1{
    color: white;
    font-weight: 500;
    border: 0px;
    width: 500px;
    height: 200px;
}
#buttonlist:hover > a{
    color: white;
}
#buttonlist:hover{
    background: #1d8888;
    font-weight: 500;
}

#hoverLink1, #hoverLink2, #hoverLink3{
    height: 3px;
    width: 50px;
    position: absolute;
    left: -50px;
    background: #adc7d4;
    transition: .3s ease-in-out;
    top: 25px
}

#lnk1:hover ~ #hoverLink1{
    left: 0px;
}
#lnk2:hover ~ #hoverLink2{
    left: 0px;
}
#lnk3:hover ~ #hoverLink3{
    left: 0px;
}

/*--------------      Main Text      ------------------*/
#container1{
    display: flex;
    flex-direction: column;
} 

#descriptionText{
     width: 80%;
     text-align: center;
     height: 160px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     margin: 0 auto;
     margin-top: 160px; 
 }


 #descriptionText h1{
    font-size: 50px;
    color: #4c4c57;
    font-weight: 500;
    margin: 0 180px;
 }

 #descriptionText p{
 
    margin: 40px auto 0 auto;
    padding: 0;
    text-align: center;
    color: #999;
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
 }

 #mainButton{
    width: 30%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
#buttonContainer{
    cursor: pointer;
    border-radius: 17px;
    background-color: #1d8888;
    padding: 18px 27px;
    display: flex;
    align-items: center;
    justify-content: center;
}

 #letsMeet{
     border-style: none;
     font-size: 18px;
     font-weight: 400;
     text-decoration: none;
     color: white;
     font-weight: 400;
     background-color: transparent;
    }
#buttonContainer:hover{
    border: 3px solid #1d8888;
    background-color: transparent;
}
#buttonContainer:hover > a{
    color: #1d8888;
}
#buttonContainer:active{
    transform: scale(1.1);
}
#burger{
    width: 35px;
    height: 42px;
    display: 0;
    margin-bottom: 5px;
}

/*#burger:hover > div{
    background-color: #adc7d4;
}*/
.burger1,.burger2,.burger3{
    height: 6px;
    width: 35px;
    background-color: #1d8888;
    margin-top: 5px;
    transform: rotateY(0);
}
.burger1,.burger3{
    transition: .3s ease-in-out;
}
.burger1click{
    transform: rotate(135deg);
    background-color: white;
    margin-top: 20px;
}
.burger2click{
    display: none;
}
.burger3click{
    background-color: white;
    transform: rotate(-135deg);
    margin-top: -5px;
}
#listAndButton2{
    width: 100%;
    height: 100%;
    background: #1d8888;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: space-around;*/
    
}
.hiddenMenu{
    height: 100vh;
    transition: .5s ease-in-out;
}
.listAndButton2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1d8888;
    height: 100%;
    transition: .8s ease-in-out;
}

#navElements2{
    margin-top: 80px;
    padding: 0;  
    
}
#navElements2 li{
    margin-bottom: 80px;
    text-align: center;
    list-style: none;
}
#burgerContainer{
    display: none;
}
.hidden2{display: none;}

#navElements2 li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
#buttonlist2{
    height: 60px;
    width: 150px;
    background-color: white;
    border-radius: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#buttonlist2 a{
    text-decoration: none;
    color: #1d8888;
    font-size: 20px;
    font-weight: 500;
}
.hidden{
    height: 0px;
   /* height: 0px;*/
}

/*+++++++++++++++++ Media Queries +++++++++++++++++*/
@media (max-width:1210px){
    #descriptionText{
        display: flex;
        align-items: center;
        margin-top: 100px;
        width: 90%;
        margin:0;
        margin-top: 160px;
    }
    #descriptionText h1{
        width: 90%;
        text-align: center;
        font-size: 35px;
    }
    
}
@media (max-width:766px){

    #burgerContainer{
        position: fixed;
        width: 100vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 10px;
    }
    #navbar {
        display: none;
    }
    
    #burger{
        display: 1;
    }
    /*#burger:active{
        margin-bottom: 0;
    }*/
    
    #descriptionText{
        display: flex;
        align-items: center;
        margin-top: 100px;
        width: 100%;
        margin:0;
        margin-top: 100px;
    }
    
}